# Default ignored files
/../../../../Développement Front End - le site vu de l internaute/Next/valorant-vault/.idea/shelf/
/../../../../Développement Front End - le site vu de l internaute/Next/valorant-vault/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Développement Front End - le site vu de l internaute/Next/valorant-vault/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../Développement Front End - le site vu de l internaute/Next/valorant-vault/.idea/dataSources/
/../../../../Développement Front End - le site vu de l internaute/Next/valorant-vault/.idea/dataSources.local.xml
